.header__top-line {
  text-align: center;
  padding: 7px 0;
  width: 100%;
  background-color: rgb(30, 58, 138);
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
}

.header__bottom-line {
  background-color: rgb(0, 0, 0);
  background-size: auto;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 7px 0;
}

.sprinkling,
.accustom {
  padding: 15px 0px 20px;

  .container {
    gap: 16px;
    align-items: start;
    justify-content: space-between;
  }
}

.left,
.right {
  position: relative;
  width: 50%;
  color: rgb(12, 12, 12);
}

.left .btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left__stars {
  gap: 10px;
}

.left__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.left__subtitle {
  margin-bottom: 15px;
}

.left__info {
  gap: 10px;
}

.left__info__item__text {
  color: rgb(48, 48, 48);
  margin-left: 12px;
  font-size: 18px;
}

.accustom {
  padding-top: 30px;

  .left__info {
    gap: 20px;
  }
}

.veterinar-feedback {
  gap: 16px;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);

  .right {
    padding: 10px;
    align-items: end;

    .btn {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }
}

.veterinar-feedback__feedback-content {
  padding: 0 50px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.veterinar-feedback__feedback__author {
  margin-top: 30px;
  gap: 15px;
}

.zen-purr {
  padding: 20px 0;

  .left__info__item.flex-row {
    align-items: start;
  }

  .left__subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .left__info {
    gap: 30px;
  }

  .left__info__item {
    gap: 10px;
  }

  .left__info__item__text {
    font-weight: 300;
    font-size: 17px;

    strong {
      font-weight: 700;
    }
  }

  .btn {
    margin-top: 30px;
  }
}

.steps-to-peace {
  padding: 10px 0 30px;
  color: #000;

  h1 {
    text-align: center;
  }

  .steps-to-peace__subtitle {
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    margin: 20px 0 0;
  }

  .steps-to-peace__cols-wrapper {
    align-items: start;
    gap: 25px;

    .steps-to-peace__col {
      gap: 25px;
    }

    .steps-to-peace__center-image {
      margin-top: 50px;
    }
  }

  .steps-to-peace__col__item {
    align-items: center;
    gap: 15px;
    text-align: center;

    p {
      font-size: 22px;
      font-weight: 300;
    }
  }

  .btn {
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.steps-to-peace__cols-wrapper.mobile {
  display: none;
}

.pet-wellness-vs-altre-marche {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.feedbacks {
  background-color: rgb(255, 255, 255);
  padding-bottom: 120px;

  .container {
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }

  h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
  }

  .steps-to-peace__subtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 30px;
    color: rgba(0, 0, 0, 0.75);
  }
}

.feedbacks__feedback {
  max-width: 370px;
  color: rgb(37, 42, 50);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.feedbacks__feedback__content-wrapper {
  padding: 0 10px 20px 10px;
}

.feedbacks__feedback__image {
  width: 100%;
  border-radius: 10px;
}

.feedbacks__feedback__author {
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 15px;
}

.feedbacks__feedback__avatar {
  border-radius: 50%;
}

.feedbacks__feedback__content {
  font-size: 20px;
  font-weight: 300;
}

.money-back {
  padding-top: 60px;
  position: relative;
  background-color: rgb(248, 248, 248);
  font-size: 18px;
  font-weight: 300;
  color: rgb(37, 42, 50);
  padding-bottom: 30px;

  .container {
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.money-back__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #fff;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.accordion__left {
  gap: 10px;
}

.accordion__item {
  width: c;
}

.accordion__item__dark-bg {
  gap: 10px;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #636a7b;
  border-color: #636a7b;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s background-color;
  padding: 10px;

  h2 {
    font-size: 19px;
  }
}

.accordion__item__dark-bg.active,
.accordion__item__dark-bg:hover {
  background-color: #dfdbdb;
  border: none;
}

.accordion__item__answer {
  display: none;
  font-size: 20px;
  font-weight: 300;
  max-width: 545px;
  padding: 25px 10px 25px 10px;
}

.accordion__item__answer.active {
  display: block;
}

.accordion-wrapp {
  align-items: start;
}

.accordion__left {
  padding-top: 15px;
}

.accordion__left,
.accordion__right {
  width: 50%;
}

.accordion__right {
  gap: 15px;
}

.footer {
  text-align: center;
  padding-bottom: 40px;

  .container {
    align-items: center;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.footer__small-info {
  font-size: 9px;
  font-weight: 300;
  margin-top: 25px;
}

.footer__links {
  justify-content: center;
  gap: 7px;
}

.footer__links__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  transition: color 0.3s;
}

.footer__links__link:hover {
  color: blueviolet;
}

.footer-pages {
  padding-bottom: 100px;

  .footer-pages__logo__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1px;
    border-bottom: 1px solid #ececec;
    width: 100%;
    margin-bottom: 100px;

    img {
      display: block;
    }
  }

  .footer-pages__container {
    max-width: 613px;
    margin: 0 auto;
    gap: 20px;
  }

  .footer-pages__title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
  }

  .footer-pages__content {
    font-size: 16px;
  }

  ul {
    /* Прибираємо стандартні відступи браузера */
    list-style-position: outside;
    padding-left: 1rem;
    margin-left: 0;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.order-pop-up,
.overlay {
  display: none;
}

.overlay.active {
  display: block;
}

.order-pop-up.active {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  padding: 25px 35px;
  border-radius: 10px;

  img {
    height: 250px;
    width: 100%;
  }

  .improve-your-order {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
  }

  h4 {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .order-pop-up__form {
    input {
      border-radius: 10px;
      width: 100%;
      padding: 10px;
      border: 1px solid #000;
      font-size: 18px;
    }

    input:focus {
      outline: none;
      border: 1px solid #000;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 10;
}

.order-pop-up__title {
  text-align: center;
  margin-bottom: 25px;
}

.order-pop-up__form {
  gap: 15px;
  margin-bottom: 20px;
}

.order-pop-up__improvements {
  gap: 20px;
  align-items: start;
}

.order-pop-up__improvements__improvement {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  z-index: 999;

  h4 {
    font-size: 18px;
  }

  input {
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #000;
    font-size: 17px;
    width: 50px;
  }

  input:focus {
    outline: none;
    border: 1px solid #000;
  }

  .quantity-wrapper {
    button {
      border: none;
      background: none;
      font-size: 18px;
      background-color: rgb(190, 174, 174);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-top: 10px;
    }
  }
}

.order-pop-up__improvements__improvement__prices {
  font-weight: 600;
}

.order-pop-up__products__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;

  .flex-row {
    gap: 5px;
    font-size: 17px;
    font-weight: 600;
  }
}

.old-price {
  text-decoration: line-through #000;
  font-size: 14px;
}

.new-price {
  font-size: 18px;
}

.order-pop-up__products {
  justify-content: space-between;
  align-items: start;
  padding-top: 35px;
  padding-bottom: 35px;
  gap: 15px;

  .product {
    font-size: 18px;
  }
}

.discount {
  margin-top: 10px;
  box-shadow: RGB(37 42 50 / 32%) 0 1px 4px 1px;
  background-color: #dd9934;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
}

.order-pop-up__line {
  border-top: 1px solid gray;
  width: 100%;
  position: absolute;
  left: 0;
}

.order-pop-up__to-pay {
  padding-top: 20px;
  justify-content: space-between;
}

.order-pop-up__to-pay__right {
  font-size: 17px;
  font-weight: 500;
}

.order-pop-up__crosshair {
  font-size: 50px;
  text-align: right;
  border: none;
  background: none;
}