.header__top-line {
  text-align: center;
  padding: 7px 0;
  width: 100%;
  background-color: rgb(30, 58, 138);
  background-size: auto;
  background-repeat: no-repeat;
}

.header__bottom-line {
  background-color: #000;
  background-color: rgb(0, 0, 0);
  background-size: auto;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 7px 0;
}

.sprinkling {
  padding: 15px 0px 20px;
  color: rgb(12, 12, 12);

  .container {
    gap: 16px;
    align-items: start;
  }
}

.sprinkling__left,
.sprinkling__right {
  position: relative;
  width: 50%;
}

.sprinkling__left .btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.sprinkling__left__stars {
  gap: 15px;
}

.sprinkling__left__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sprinkling__left__subtitle {
  margin-bottom: 15px;
}

.sprinkling__left__info {
  gap: 10px;
}

.sprinkling__left__info__item__text {
  color: rgb(48, 48, 48);
  margin-left: 12px;
}
