.header__top-line {
  text-align: center;
  padding: 7px 0;
  width: 100%;
  background-color: rgb(30, 58, 138);
  background-size: auto;
  background-repeat: no-repeat;
  color: #fff;
}

.header__bottom-line {
  background-color: #000;
  background-color: rgb(0, 0, 0);
  background-size: auto;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 7px 0;
}

.sprinkling,
.accustom {
  padding: 15px 0px 20px;

  .container {
    gap: 16px;
    align-items: start;
    justify-content: space-between;
  }
}

.left,
.right {
  position: relative;
  width: 50%;
  color: rgb(12, 12, 12);
}

.left .btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.left__stars {
  gap: 15px;
}

.left__title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.left__subtitle {
  margin-bottom: 15px;
}

.left__info {
  gap: 10px;
}

.left__info__item__text {
  color: rgb(48, 48, 48);
  margin-left: 12px;
}

.accustom {
  padding-top: 30px;

  .left__info {
    gap: 20px;
  }
}

.veterinar-feedback {
  gap: 16px;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);

  .right {
    padding: 10px;
    align-items: end;

    .btn {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }
}

.veterinar-feedback__feedback-content {
  padding: 0 50px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.veterinar-feedback__feedback__author {
  margin-top: 30px;
  gap: 15px;
}

.zen-purr {
  padding: 20px 0;

  .left__info__item.flex-row {
    align-items: start;
  }

  .left__subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .left__info {
    gap: 30px;
  }

  .left__info__item {
    gap: 10px;
  }

  .left__info__item__text {
    font-weight: 300;
    font-size: 17px;

    strong {
      font-weight: 700;
    }
  }

  .btn {
    margin-top: 30px;
  }
}

.steps-to-peace {
  padding: 10px 0 30px;
  color: #000;

  h1 {
    text-align: center;
  }

  .steps-to-peace__subtitle {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    margin: 20px 0 30px;
  }

  .steps-to-peace__cols-wrapper {
    align-items: start;
    gap: 25px;

    .steps-to-peace__col {
      gap: 25px;
    }

    .steps-to-peace__center-image {
      margin-top: 50px;
    }
  }

  .steps-to-peace__col__item {
    align-items: center;
    gap: 15px;
    text-align: center;

    p {
      font-size: 19px;
      font-weight: 300;
    }
  }

  .btn {
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.pet-wellness-vs-altre-marche {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.feedbacks {
  background-color: rgb(255, 255, 255);
  padding-bottom: 120px;

  .container {
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
}

.feedbacks__feedback {
  max-width: 370px;
  color: rgb(37, 42, 50);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.feedbacks__feedback__content-wrapper {
  padding: 0 10px 20px 10px;
}

.feedbacks__feedback__image {
  width: 100%;
  border-radius: 10px;
}

.feedbacks__feedback__author {
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 15px;
}

.feedbacks__feedback__avatar {
  border-radius: 50%;
}

.feedbacks__feedback__content {
  font-size: 20px;
  font-weight: 300;
}

.money-back {
  padding-top: 60px;
  position: relative;
  background-color: rgb(248, 248, 248);
  font-size: 20px;
  font-weight: 300;
  color: rgb(37, 42, 50);
  padding-bottom: 30px;

  .container {
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.money-back__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accordion {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #fff;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.accordion__left {
  gap: 10px;
}

.accordion__item {
  width: c;
}

.accordion__item__dark-bg {
  gap: 10px;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #636a7b;
  border-color: #636a7b;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s background-color;
  padding: 10px;

  h2 {
    font-size: 19px;
  }
}

.accordion__item__dark-bg.active,
.accordion__item__dark-bg:hover {
  background-color: #dfdbdb;
  border: none;
}

.accordion__item__answer {
  display: none;
  font-size: 17px;
  font-weight: 300;
  max-width: 545px;
  padding: 25px 10px 25px 10px;
}

.accordion__item__answer.active {
  display: block;
}

.accordion-wrapp {
  align-items: start;
}

.accordion__left {
  padding-top: 15px;
}

.accordion__left, 
.accordion__right {
  width: 50%;
}

.accordion__right {
  gap: 15px;
}

.footer {
  text-align: center;
  padding-bottom: 40px;

  .container {
    align-items: center;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.footer__small-info {
  font-size: 9px;
  font-weight: 300;
  margin-top: 25px;
}